/client/.vite
/client/build
/client/node_modules
/netlify/functions/database/app/conferences.json
/netlify/functions/database/app/press.json
/netlify/functions/database/app/videos.json
/netlify/functions/database/quizz
.env
node_modules

# Local Netlify folder
.netlify
